version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: voll_med_api
    volumes:
      - mysql_data:/var/lib/mysql

  vollmed:
    build:
      context: .
      dockerfile: Dockerfile
    image: vollmed-api
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=voll_med_api
      - DB_USERNAME=root
      - DB_PASSWORD=root123
    depends_on:
      - db

volumes:
  mysql_data: